*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 1200px;
    margin: 0 auto;
    font-family: Arial, sans-serif; 
}

button{
    height: 2.5rem;
    border-radius: 1.4rem;
    padding: 0.5rem;
    border: none;
    color: white;
}
.black-botton{
    background-color: #212526;
    
}
.white-botton{
    background-color: #fdfdfe;
    color: black;
}
.blue-botton{
    background-color: #738ada;
}
a{
    text-decoration: none;
}
.head-box{
    background-color: #255ee9;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    justify-content: space-evenly;
}
.link-nav * {
    margin-right: 2rem;
    
}
.jumbotron{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 7rem 7rem 7rem;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    color: white;
}

.jumbotron p{
    width: 58%;
}
.button-head{
    display: flex;
    flex-direction: row;
}

.button-head>button{
    margin: 1rem 2rem 1rem;
}

.main-box{
    display: flex;
    
    flex-direction: column;
}
.info-section{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 3rem;
}
    
.white-section{
    background-color: #ffffff;
}

.grey-section{
    background-color: #f6f6f6;
}

.section-column{
    display: flex;
    flex-direction: column;
    padding: 3rem;
    align-items: center;
    justify-content: space-between;
}

h1,
h2{
    margin-bottom: 1.5rem;
}
footer{
    background-color: #23272a;
}
.foot-box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 2rem 3rem 1rem;
    margin: 0 auto;
}

.list-box{
    display: flex;
    flex-direction: row;
    width: 65%;
    padding-right: 4rem;
}

.info-box{
    margin-left: 2rem;
    padding-bottom: 2rem;
    width: 20%;
    padding-left: 2rem;
}

ul
{
    margin-right: 6rem;
    list-style: none;
    color: #738ada;

}

li a{
    color: white;
}

ul,
.list-box li{
    margin-bottom: 2rem;
}

.nav-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 0 1rem;
    border-top: 1px solid #738ada;
    margin: 0 10rem 0;
}

.logo *{
    margin-right: 0.3rem;
}

.info-box h2{
    color: #738ada;
}
#lingua{
    margin-bottom: 1.5rem;
    border: none;
    background-color: #23272a;
    color: white;
}
